

/* login title and also the input  */
.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
/* for the image */
.imageSize {
  display: block;
  margin-top:-2vh;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.ionCardstyle {
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  position: absolute;
  margin-left: 5vw;
  margin-right: 1vw;
}


