
  .h1_timer {
    font-size:4.5rem;
    text-align: center;
 }

 .h1_TracktTimer {
    font-size:2rem;
    text-align: center;
 }
 .currentTimeLabel {
   font-size:2.5rem;
   padding: 12%;
 }

 .currentDateLabel {
    font-size:1.5rem;


 }

 .startButton {
    display: flex;
   
   
 }

 .conainer-of-Pop-Ups{
    --backdrop-opacity: 10%;
 }

.my-custom-class {
  --background: #e5e5e5;
}

.my-custom-class .alertcolor{
  color: rgba(255, 0, 0, 0.63);
}

.centerText{
  font-size:4rem;
}
/*  .clock{
   width: 100vmax;
   height: 100px;
   display: block;
   justify-content: center;
   align-items: center;
 
   background-size: cover;


   box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
               inset 0 -15px 15px rgba(255,255,255,0.05),
               0 15px 15px rgba(0, 0, 0, 0.3),
               inset 0 15px 15px rgba(0, 0, 0, 0.3);
} */

/*   background: url("/assets/clock.png");
/* 
If the screen size is 601px wide or more, set the font-size of <div> to 80px 
@media screen and (min-width: 601px) {
   div.example {
     font-size: 80px;
   }
 }
 
If the screen size is 600px wide or less, set the font-size of <div> to 30px 
 @media screen and (max-width: 600px) {
   div.example {
     font-size: 30px;
   }
 } 
*/



