.ionContent {
  --color: light blue;
}

.imageSize {
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.ionCardstyle {
  border-radius: 20px;
  margin-top: 8vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.centerDiv {
  display: block;
  text-align: center;
  width: 15vw;
}

.TextHeading {
  text-align: center;
  font-size:3vw;
}

.TextsubHeading {
  text-align: center;
  font-size:3vw;
}
.textpara {
  text-align: left;
  font-size:1vw;
  color: #044259;
}
.textSubtitle {
  text-align: center;
  font-size:1.5vw;
  color: #044259;

}

.centerText img {
  display: block;
  border-radius: 50%;
  border: 100px solid #12e3d7;
  background-color: #12e3d7;
}

.flagIcon {
  display: block;
  width: 60px;
  border-radius: 50%;
  background-color: #12e3d7;
  margin-left: auto;
  margin-right: auto;
}

.grayStraightLine {
  margin-left: 0vw;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 15vh;
  margin-bottom: 1vh;
}

.IonButtonRadius {
  --border-radius: 30px;
}



.centerImg {
  margin-top: 10vh;
}

.buttonsStyle {
  width: 200px
}

@media (min-width: 640px ){body {font-size:1rem;}}
@media (min-width: 960px ){body {font-size:1.2rem;}}
@media (min-width: 1100px ){body {font-size:1.5rem;}}

html{font-size:100%;}
.IonCardWel {
  border-radius: 130px 0px;
/*   margin-top: 50%;
  margin-bottom: 50%; */
   margin-top: 30vw;
  margin-right: 5vw; 
  padding-bottom: 5vh;
  transform: translate(2%);
}
/* iphone 6/7/8 and also 6/7/8 plus*/
@media screen and (min-width: 375px ) and (min-height: 667px ){
  [class*="IonCardWel"]{
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 28vw;
  }
 
 }

 /* iphone x*/
@media screen and (min-width: 375px ) and (min-height: 812px ){
  [class*="IonCardWel"]{
   margin-left: 10%;
   margin-right: 10%;
    margin-top: 43vw;
  
  }
 }

  /* ipad  */
@media screen and (min-width: 768px ) and (min-height: 1024px ){
  [class*="IonCardWel"]{
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 21vw;
  }
   
 }

  /* ipad pro*/
@media screen and (min-width: 1024px ) and (min-height: 1366px ){
  [class*="IonCardWel"]{
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 20vw;
  /*  border-radius: 190px 60px 190px 0px; */
  }
  [class*="buttonsStyle"]{
    width: 400px;
    font-size:3.1vw;
   }

   
   }
 



   /* surface duo*/
@media screen and (min-width: 540px ) and (min-height: 720px ){
  [class*="IonCardWel"]{
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 22vw;
 
  }


 }

    /* galaxy fold*/
@media screen and (min-width: 280px ) and (min-height: 653px ){
  [class*="IonCardWel"]{
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 45vw;
   border-radius: 90px 00px 
  }
}

 

     /* iphone 5*/
@media screen and (min-width: 320px ) and (min-height: 568px ){
  [class*="IonCardWel"]{
   margin-left: 12%;
   margin-right: 12%;
   margin-top: 27vw;
   border-radius: 90px 00px 
  }
 }

      /* iphone 5*/
@media screen and (min-width: 411px ) and (min-height: 731px ){
  [class*="IonCardWel"]{
   margin-left: 12%;
   margin-right: 12%;
   margin-top: 30vw;
   border-radius: 90px 00px 
  }
 }

       /* galaxy s5*/
@media screen and (min-width: 360px ) and (min-height: 640px ){
  [class*="IonCardWel"]{
   margin-left: 13%;
   margin-right: 13%;
   margin-top: 29vw;
   border-radius: 90px 00px 
  }
 }

        /* pixel 2 xl*/
@media screen and (min-width: 411px ) and (min-height: 823px){
  [class*="IonCardWel"]{
   margin-left: 13%;
   margin-right: 13%;
   margin-top: 40vw;
   border-radius: 90px 00px 
  }
 }

        /* laptops and destop*/
@media screen and (min-width: 1263px ) and (min-height: 1034px){
  [class*="IonCardWel"]{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 1vw;
   border-radius: 90px 00px 
    }
  }

  @media screen and (min-width: 1238px ) {
    [class*="IonCardWel"]{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2vw;
     border-radius: 90px 00px 
      }
    }

  @media screen and (min-width: 1177px ) {
    [class*="IonCardWel"]{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 4vw;
     border-radius: 90px 00px 
      }
    }

    

    @media screen and (min-width: 903px ) {
      [class*="IonCardWel"]{
      margin-left: 33%;
      margin-right: 33%;
      margin-top: 10vw;
       border-radius: 90px 00px 
        }
      }

      @media screen and (min-width: 624px ) {
        [class*="IonCardWel"]{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 14vw;
         border-radius: 90px 00px 
          }
        }

        @media screen and (min-width: 483px ) {
          [class*="IonCardWel"]{
          margin-left: 20%;
          margin-right: 20%;
          margin-top: 19vw;
           border-radius: 90px 00px 
            }
        }