.ionContent {
  --color: light blue;
}

.imageSize {
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.ionCardstyle {
  border-radius: 20px;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.centerDiv {
  display: block;
  text-align: center;
  width: 15vw;
}

.centerText {
  text-align: center;
}

.centerText img {
  display: block;
  border-radius: 50%;
  border: 100px solid #12e3d7;
  background-color: #12e3d7;
}

.flagIcon {
  display: block;
  width: 60px;
  border-radius: 50%;
  background-color: #12e3d7;
  margin-left: auto;
  margin-right: auto;
}

.grayStraightLine {
  margin-left: 0vw;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 15vh;
  margin-bottom: 1vh;
}

.IonButtonRadius {
  --border-radius: 30px;
}

.searchBarCustom {
  --border-radius: 1em;
}

.centerImg {
  margin-top: 10vh;
}

.IonCardFaq {
  border-radius: 20px;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-bottom: 5vh;
}

.buttonsStyle {
  width: 200px
}